<main class="container">
  <p
    class="empty:hidden p4 border-2 border-solid rounded border-blue-300 bg-blue-200 text-blue-400"
    role="alert"
  >
    <%= get_flash(@conn, :info) %>
  </p>
  <p class="p4 border-2 border-solid rounded border-red-300 bg-red-200 text-red-400" role="alert">
    <%= get_flash(@conn, :error) %>
  </p>
  <%= @inner_content %>
</main>
