<main>
  <.container>
    <.alert color="info" class="mb-5" label={get_flash(@conn, :info)} />

    <.alert color="danger" class="mb-5" label={get_flash(@conn, :error)} />

    <%= @inner_content %>
  </.container>
</main>
