<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content={csrf_token_value()} />
    <.live_title suffix="- Fluid Habits">
      <%= assigns[:page_title] || "Welcome" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")} />
    <script
      defer
      phx-track-static
      type="text/javascript"
      src={Routes.static_path(@conn, "/assets/app.js")}
    >
    </script>
  </head>
  <body>
    <header class="bg-gray-100 py-4">
      <.container max_width="full">
        <nav class="flex w-full justify-between">
          <ul>
            <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
              <li>
                <.link navigate={Routes.live_dashboard_path(@conn, :home)} class="text-purple-500">
                  LiveDashboard
                </.link>
              </li>
            <% end %>
            <%= if @current_user do %>
              <li>
                <.link navigate="/" class="grow-0">
                  <div class="flex items-center  text-gray-600 hover:text-primary-400">
                    <.icon name={:home} class="inline h-4 w-4 mr-1" />Home
                  </div>
                </.link>
              </li>
              <li>
                <.link navigate={Routes.activity_index_path(@conn, :index)} class="grow-0">
                  <div class="flex items-center  text-gray-600 hover:text-secondary-400">
                    <.icon name={:bolt} class="inline h-4 w-4 mr-1" />Activities
                  </div>
                </.link>
              </li>
            <% end %>
          </ul>
          <%= render("_user_menu.html", assigns) %>
        </nav>
      </.container>
    </header>
    <%= @inner_content %>
  </body>
</html>
