<div>
  <.form
    :let={f}
    for={@changeset}
    id="activity-form"
    phx-target={@myself}
    phx-change="validate"
    phx-submit="save"
  >
    <.form_field type="text_input" form={f} field={:name} />

    <.form_field type="text_input" form={f} field={:description} />

    <Components.Buttons.button type="submit" phx_disable_with="Saving...">
      Save
    </Components.Buttons.button>
  </.form>
</div>
