<div>
  <.form
    :let={f}
    for={@changeset}
    id="activity-form"
    phx-target={@myself}
    phx-change="validate"
    phx-submit="save"
  >
    <.form_field type="text_input" form={f} field={:name} />

    <.form_field type="text_input" form={f} field={:description} />

    <.core_button type="submit" phx-disable-with="Saving...">
      Save
    </.core_button>
  </.form>
</div>
