<h1>Confirm account</h1>

<.form :let={_f} for={:user} action={Routes.user_confirmation_path(@conn, :update, @token)}>
  <Components.Buttons.button type="submit" phx_disable_with="Confirming...">
    Confirm my account
  </Components.Buttons.button>
</.form>

<p>
  <%= link("Register", to: Routes.user_registration_path(@conn, :new)) %> | <%= link("Log in",
    to: Routes.user_session_path(@conn, :new)
  ) %>
</p>
