<h1>Confirm account</h1>

<.form :let={_f} for={:user} action={~p"/users/confirm#{@token}"}>
  <Components.Buttons.button type="submit" phx_disable_with="Confirming...">
    Confirm my account
  </Components.Buttons.button>
</.form>

<p>
  <%= link("Register", to: ~p"/users/register") %> | <%= link("Log in",
    to: ~p"/users/log_in"
  ) %>
</p>
