<h1>Resend confirmation instructions</h1>

<%= form_for @conn, ~p"/users/confirm", [as: :user], fn f -> %>
  <%= label(f, :email) %>
  <%= email_input(f, :email, required: true) %>

  <Components.Buttons.button type="submit" phx_disable_with="Sending...">
    Resend confirmation instructions
  </Components.Buttons.button>
<% end %>

<p>
  <%= link("Register", to: ~p"/users/register") %> | <%= link("Log in",
    to: ~p"/users/log_in"
  ) %>
</p>
