<h1>Forgot your password?</h1>

<.form :let={f} for={:user} action={~p"/users/reset_password"}>
  <%= label(f, :email) %>
  <%= email_input(f, :email, required: true) %>

  <Components.Buttons.button type="submit" phx_disable_with="Sending instructions...">
    Send instructions to reset password
  </Components.Buttons.button>
</.form>

<p>
  <%= link("Register", to: ~p"/users/register") %> | <%= link("Log in",
    to: ~p"/users/log_in"
  ) %>
</p>
