<!DOCTYPE html>
<html lang="en" style="scrollbar-gutter: stable;">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title prefix={
      if is_nil(assigns[:page_title]), do: "Fluid Habits", else: "Fluid Habits · "
    }>
      <%= assigns[:page_title] %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white antialiased">
    <header class="bg-gray-100 py-4">
      <.container max_width="full">
        <nav class="flex w-full justify-between">
          <ul>
            <%= if @current_user do %>
              <li>
                <.link navigate="/" class="grow-0">
                  <div class="flex items-center  text-gray-600 hover:text-primary-400">
                    <.icon name={:home} class="inline h-4 w-4 mr-1" />Home
                  </div>
                </.link>
              </li>
              <li>
                <.link navigate={~p"/activities"} class="grow-0">
                  <div class="flex items-center  text-gray-600 hover:text-secondary-400">
                    <.icon name={:bolt} class="inline h-4 w-4 mr-1" />Activities
                  </div>
                </.link>
              </li>
            <% end %>
          </ul>
          <div class="flex flex-col justify-end">
            <%= if @current_user do %>
              <div class="text-gray-700"><%= @current_user.email %></div>
              <div class="flex justify-end">
                <.link href={~p"/users/settings"} class="grow-0">
                  <div class="flex items-center  text-gray-600 hover:text-secondary-400">
                    <.icon name={:cog} class="inline h-4 w-4 mr-1" />Settings
                  </div>
                </.link>
              </div>
              <div class="flex justify-end">
                <.link href={~p"/users/log_out"} method="delete">
                  <div class="flex items-center  text-gray-600 hover:text-secondary-400">
                    <.icon name={:arrow_left_on_rectangle} class="inline h-4 w-4 mr-1" />Log out
                  </div>
                </.link>
              </div>
            <% else %>
              <.link href={~p"/users/register"}>
                <div class="flex items-center  text-gray-600 hover:text-secondary-400">
                  <.icon name={:user} class="inline h-4 w-4 mr-1" />Register
                </div>
              </.link>
              <.link href={~p"/users/log_in"}>
                <div class="flex items-center  text-gray-600 hover:text-secondary-400">
                  <.icon name={:lock_open} class="inline h-4 w-4 mr-1" />Log In
                </div>
              </.link>
            <% end %>
          </div>
        </nav>
      </.container>
    </header>
    <%= @inner_content %>
  </body>
</html>
