<!DOCTYPE html>
<html lang="en" style="scrollbar-gutter: stable;">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "FluidHabits" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white antialiased">
    <header class="bg-gray-100 py-4">
      <.container max_width="full">
        <nav class="flex w-full justify-between">
          <ul>
            <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
              <li>
                <.link navigate={~p"/dashboard"} class="text-purple-500">
                  LiveDashboard
                </.link>
              </li>
            <% end %>
            <%= if @current_user do %>
              <li>
                <.link navigate="/" class="grow-0">
                  <div class="flex items-center  text-gray-600 hover:text-primary-400">
                    <.icon name={:home} class="inline h-4 w-4 mr-1" />Home
                  </div>
                </.link>
              </li>
              <li>
                <.link navigate={~p"/activities"} class="grow-0">
                  <div class="flex items-center  text-gray-600 hover:text-secondary-400">
                    <.icon name={:bolt} class="inline h-4 w-4 mr-1" />Activities
                  </div>
                </.link>
              </li>
            <% end %>
          </ul>
        </nav>
      </.container>
    </header>
    <%= @inner_content %>
  </body>
</html>
